In [1]:
# NAME: ALIA IBRAHIM BANDARKAR
# PRN NO: 2030331245007

In [2]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
df= pd.read_csv('chd.csv')
df.head()

   Obs  ID  AGE  agrp  CHD
0    1   1   20     1    0
1    2   2   23     1    0
2    3   3   24     1    0
3    4   4   25     1    0
4    5   5   25     1    1

In [3]:
df1=df.loc[:, ['AGE','CHD']]
df1.head()

   AGE  CHD
0   20    0
1   23    0
2   24    0
3   25    0
4   25    1

In [4]:
X=df1.iloc[:, :-1].values
y=df.iloc[:, -1].values

In [5]:
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
lda=LinearDiscriminantAnalysis()
lda.fit(X, y)
yp=lda.predict(X)

In [6]:
lda.decision_function(X)

array([-3.27093953, -2.91548011, -2.79699364, -2.67850717, -2.67850717,
       -2.56002069, -2.56002069, -2.32304775, -2.32304775, -2.20456127,
       -2.0860748 , -2.0860748 , -2.0860748 , -2.0860748 , -2.0860748 ,
       -2.0860748 , -1.84910185, -1.84910185, -1.73061538, -1.73061538,
       -1.61212891, -1.61212891, -1.61212891, -1.61212891, -1.61212891,
       -1.49364243, -1.49364243, -1.37515596, -1.37515596, -1.37515596,
       -1.25666949, -1.25666949, -1.25666949, -1.13818301, -1.13818301,
       -1.01969654, -1.01969654, -0.90121007, -0.90121007, -0.78272359,
       -0.78272359, -0.66423712, -0.66423712, -0.66423712, -0.66423712,
       -0.54575065, -0.54575065, -0.54575065, -0.42726417, -0.42726417,
       -0.42726417, -0.42726417, -0.3087777 , -0.3087777 , -0.19029123,
       -0.19029123, -0.07180475, -0.07180475, -0.07180475,  0.04668172,
        0.04668172,  0.04668172,  0.16516819,  0.16516819,  0.16516819,
        0.28365467,  0.28365467,  0.40214114,  0.52062762,  0.52062762,
        0.63911409,  0.63911409,  0.75760056,  0.87608704,  0.87608704,
        0.87608704,  0.99457351,  0.99457351,  0.99457351,  1.11305998,
        1.11305998,  1.11305998,  1.11305998,  1.11305998,  1.11305998,
        1.23154646,  1.23154646,  1.23154646,  1.35003293,  1.35003293,
        1.4685194 ,  1.4685194 ,  1.58700588,  1.70549235,  1.70549235,
        1.82397882,  1.9424653 ,  1.9424653 ,  2.06095177,  2.53489766])

In [7]:
from sklearn.metrics import confusion_matrix
confusion_matrix=confusion_matrix(y, yp)
print(confusion_matrix)

[[45 12]
 [14 29]]

In [8]:
from sklearn.metrics import classification_report
print(classification_report(y, yp))

              precision    recall  f1-score   support

           0       0.76      0.79      0.78        57
           1       0.71      0.67      0.69        43

    accuracy                           0.74       100
   macro avg       0.74      0.73      0.73       100
weighted avg       0.74      0.74      0.74       100